h2{

    text-align: center;
    text-decoration-color: white;
    font: bold italic 2em/1em "Times New Roman", "MS Serif", "New York", serif;
    margin: 0;
    padding: 0;
    color: #FFBD33;
    border-top: solid #FFBD33 medium;
    border-bottom: dotted #FFBD33 thin;
    width: 600px;
  
  
  }
  body{
    background-image: url('https://images.unsplash.com/photo-1519455953755-af066f52f1a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;  
    }
